{{ $pages := where site.RegularPages "Type" "publication" }}
{{ $pages = $pages.ByDate.Reverse }}
{{ range $pages.GroupByDate "2006" }}
<div class="pub-year-block">
  <h3 class="pub-year-title">{{ .Key }}</h3>
  <ul class="pub-year-list">
    {{ if eq .Key "2025" }}
      {{ range where .Pages "Params.first_author" "ne" true }}
        {{ partial "pub-year-item.html" . }}
      {{ end }}
      {{ range where .Pages "Params.first_author" true }}
        {{ partial "pub-year-item.html" . }}
      {{ end }}
    {{ else }}
      {{ range .Pages }}
        {{ partial "pub-year-item.html" . }}
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ end }}
